/* html,
body {
    height: 89%;
}

.scrollbar-extra-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scrollbar-extra-thin::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    border-radius: 8px;
}

.scrollbar-extra-thin::-webkit-scrollbar-track {
    background-color: #edf2f7;
    /* Màu của đường dẫn thanh cuộn */
/* } */
.scrollbar-short::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-short::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 8px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.scrollbar-short::-webkit-scrollbar-track {
  background-color: #edf2f7;
}
.history-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px; /* Chiều rộng của tab */
  height: 100vh;
  background-color: white;
  transition: transform 0.3s ease;
  transform: translateX(100%); /* Ẩn tab lịch sử */
}

.history-panel.open {
  transform: translateX(0); /* Hiển thị tab lịch sử */
}
